body, h1, h2, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: url("bg.png"), -webkit-linear-gradient(bottom, #ffffff,#43b182);
    min-height: 100vh;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: bold;
    color: #000000;
    margin: 60px auto;
    width: fit-content;
    transition: transform 0.3s ease-in-out;
}
h1:hover {
    transform: scale(1.2); 
  }
.product-section {
    width: calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1200px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
    
}

button {
    width: calc((33.33% - 20px)*3.1);
    padding: 10px;
    background-color: #026905;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.quantity-input {
    width: 330px;
    height: 30px;
    border: 1px solid #ddd;
 background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(27, 27, 27, 0.1);
  border: 1px solid #ccc;
}
    
input {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.product-section {
    width: calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.product-section {
    
    transition: transform 0.3s ease-in-out;
}
.product-section:hover {
    transform: scale(1.05);
    z-index: 1; /* Ensure the hovered section appears on top of others */
}

body.blur .product-section:not(:hover) {
    filter: blur(5px); 
}

